<div id="nav" class="ui inverted teal menu">
  <div class="ui dropdown item">Themes <i class="dropdown icon"></i>
    <div class="ui menu">
      <a class="ui item" onclick="themeChange('/css/blue.css')">Blue Theme</a>
      <a class="ui item" onclick="themeChange('/css/green.css')">Green Theme</a>
      <a class="ui item" onclick="themeChange('/css/red.css')">Red Theme</a>
    </div>
  </div>
  <div class="ui dropdown item">Categories <i class="dropdown icon"></i>
    <div class="ui menu">
      <a class="ui item" href="#">Life</a>
      <a class="ui item" href="#">Technology</a>
      <a class="ui item" href="#">Science</a>
      <a class="ui item" href="#">Psychology</a>
    </div>
  </div>
  <div class="right menu">
    <a href="/" class="active item">Home </a>
    <a href="/about" class="item">About </a>
    <a href="/contact" class="item">Contact </a>
    <a href="/login" class="item">Login </a>
  </div>
</div>
