<div class="ui container">
  <h1>Contact</h1>
  <form class="ui teal form" action="/contact" method="POST">
    <div class="field">
      <label for="firstName">What's your name?</label>
        <div class="field">
          <input type="text" name="firstName" placeholder="{{phName}}" value="{{mo.firstName}}">
        </div>
      <label for="email">What's you email?</label>
        <div class="field">
          <input type="text" name="email" placeholder="{{phEmail}}" value="{{mo.email}}">
        </div>
    </div>
    <input type="submit" value="Submit">
    <input type="reset">
</form>
