<div class="ui container">
  <h1>Contact</h1>
  <form class="ui teal form" action="index.html" method="post">
    <div class="field">
      <label>Name and Email</label>
      <div class="two fields">
        <div class="field">
          <input type="text" name="name" value="" placeholder="{{phName}}">
        </div>
        <div class="field">
          <input type="text" name="name" value="" placeholder="{{phEmail}}">
        </div>
      </div>
    </div>
    <div class="field">
      <label>Billing Address</label>
      <div class="fields">
        <div class="twelve wide field">
          <input type="text" name="shipping[address]" placeholder="Street Address">
        </div>
        <div class="four wide field">
          <input type="text" name="shipping[address-2]" placeholder="Apt #">
        </div>
      </div>
    </div>
    <div class="two fields">
      <div class="field">
        <label>State</label>
        <select class="ui fluid dropdown">
          <option value="">State</option>
      <option value="AL">Alabama</option>
      <option value="AK">Alaska</option>
      <option value="AZ">Arizona</option>
</div>
