<div class="ui container">
  <!-- <h1>We want to be able to check if our data still works. <span class="teal">{{text}}</span></h1>
  <h3>{{message}}</h3> -->


  <form class="ui form" action="/ifadmin" method="POST">
    <label for="who">Login please</label>
      <label class="field" for="username">Username</label>
        <input type="text" name="username" value="{{qs.username}}"><br>
      <label class="field" for="password">Password</label>
        <input type="text" name="password" value="{{qs.password}}">
      <input type="submit" value="Submit">
  </form>
</div>
