<div class="ui container">
  <form class="ui form" action="/admin" method="post">
    <div class="field">
      <label class="field" for="">Username</label>
        <input type="input" name="name" value=""><br>
      <label class="field" for="">Password</label>
        <input type="input" name="name" value="">
      <input type="button" name="name" value="Submit">
    </div>
  </form>
</div>
