<div class="ui container">
  <h1>Welcome {{data.username}}</h1>
  <h4>We've got some new things happening that we think you might like. Check it out <span style="color: teal;" class="smile icon">Here</span></h4>
</div>
