<div class="ui container">
  <img class="ui image"src="{{img}}" alt="" />
  <h1>Success</h1>
  <h3>Thanks <span style="color: teal;">{{yo.firstName}}</span>. We will be in touch with you very very soon.</h3>
  <h3>Please look out for our email. Just making sure this is your email: <span style="color: teal;">{{yo.email}}</span></h3>
</div>
