.heading {
  text-align: center;
  font-size: 35px;
  color: rgb(241, 17, 143);
}

.text {
  text-align: center;
  font-size: 18px;
  font-family: sans-serif;
  color: rgb(255, 51, 118);
}

#nav {
  display: flex;
  color: rgb(173, 46, 84);
  height: 40px;
}
