#hero {
  margin-top: 30px;
  height: 850px;
  width: auto;
}
#segment-one {
  height: 200px;
  background-color: teal;
}
.seg-one-text {
  font-size: 54px;
  font-family: cursive;
  color: white;
}

#form {
  position: relative;
  width: 500px;
  height: 300px;
  margin: 20% auto;
}
